{% extends "startuprank/main.html" %}

{% block content %}


<header class="bg-secondary text-white">
  <div class="container text-center text-dark">
    <h1 class="fonts"><a href="/startuprank/" title="StartUpRank" style="font-size:40px;" class="text-dark">StartupRank</a></h1>
    <p><h4> Find your favourite Startup and Review it!</h4></p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      {% if user.is_authenticated %}
      <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <br>
        <label for="title"><b>Title of the review</b></label>
        <input class="form-control" type="text" name="title" id="title" size="80"><br>        
        <label for="text"><b>Review</b><small> - In case of bad language the review will be deleted</small></label><br>
        <textarea class="form-control" name="text" id="text" rows="4" cols="78"></textarea>
        <br>
        <button type="submit" value="Submit" class="btn btn-dark btn-lg-active">Submit</button>
        <button class="btn btn-primary"><a href="../../allstartups/">Go back</a></button>
      </div>
      </form>
      {% else %}
      <p><br></p>
      <p><br></p>
      <p><br></p>
        <div class="d-inline float-left">
          <h4>You are not logged in: <a href="{% url 'login' %}">Login</a></h4>
        </div>
        <div class="d-inline float-right">
          <h4>If you have not registered: <a href="{% url 'startuprank:signup' %}">SignUp</a></h4>
        </div>
        {% endif %}

    </div>
  </div>
</div>

{% endblock %}
