{% extends "startuprank/main.html" %}

{% block content %}


<header class="bg-secondary text-white">
  <div class="container text-center text-dark">
    <h1 class="fonts"><a href="/startuprank/" title="StartUpRank" style="font-size:40px;" class="text-dark">StartupRank</a></h1>
    <p><h3 class="fonts"> Find your favourite Startup and Review it!</h3></p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      {% if user.is_authenticated %}
      <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <br>
        <label class="fonts" for="title"><h4>Title of the review</h4></label>
        <input class="form-control" type="text" name="title" id="title" size="80"><br>        
        <label class="fonts" for="text"><h4>Review</h4><h5> - In case of bad language the review will be deleted</h5></label><br>
        <textarea class="form-control" name="text" id="text" rows="4" cols="78"></textarea>
        <br>
        <button type="submit" value="Submit" class="btn btn-dark btn-lg-active">Submit</button>
        <button class="btn btn-primary"><a class="a" href="{% url 'startuprank:allstartups' %}">Go back</a></button>
      </div>
      </form>
      {% else %}
      <p><br></p>
      <p><br></p>
      <div class="alert alert-info" role="alert">
        Oopsie! If you want to add a review why don't you login first? <a href="{% url 'login' %}" class="alert-link">Login</a>. Give it a click if you like.
        <br>If you are not register try this: <a href="{% url 'startuprank:signup' %}" class="alert-link">SignUp</a>
      </div>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
