{% extends "../startuprank/main.html" %}

{% block title %}Login{% endblock %}

{% block content %}

  <header class="bg-secondary text-white">
  <div class="container text-center text-dark">
    <h1 class="fonts"><a href="/startuprank/" title="StartUpRank" style="font-size:40px;" class="text-dark">StartupRank</a></h1>
    <p><h3 class="fonts"> Find your favourite Startup and Review it!</h3></p>
  </div>
</header>


<div class="container">
  <div class="row">
      <div class="col-lg-8 mx-auto">
      	<div class="text-center">
      	<p><br></p>
				<form method="post">
			  {% csrf_token %}
			  {{ form.as_p }}
			  
			  <button class="btn btn-dark" type="submit">Login</button>
			  </div>
			  <p><br></p>
			</form>
		</div>
	</div>
</div>

{% endblock %}