{% extends "startuprank/main.html" %}

{% block content %}


<header class="bg-secondary text-white">
  <div class="container text-center text-dark">
    <h1><a href="/startuprank/" title="StartUpRank" style="font-size:40px; font-family: sans-serif;" class="text-dark">StartupRank</a></h1>
    <p><h4> Find your favourite Startup and Vote - Review it!</h4></p>
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
	  	<form action="{% url 'startuprank:reviews' startup.id %}" method="post">
		  	{% csrf_token %}
		  		<label for="title">Title</label><br />
		  		<input type="text" name="title" id="title" />
		  		<br>
		   		<label for="text">Text</label><br>
		   		<textarea name="text" id="text"></textarea>
		   		<br><br>
		   		<input type="submit" value="Submit" />
	  	</form>
   		<a href="/">Go back</a>
   	</div>
  </div>
</div>

{% endblock %}