{% extends "startuprank/main.html" %}

{% block content %}


<header class="bg-secondary text-white">
    <div class="container text-center">
      <h1><a href="/startuprank/" title="StartUpRank"> StartUpRank</a></h1>
      <p class="lead">Find your favourite Startup and Vote - Review it!</p>
      <h2>All startups available: </h2>
    </div>
  </header>


<div class="container">
  <div class="row">
      <div class="col-lg-8 mx-auto">
      	<p><br></p>
			{% if latest_startups_established %}
			  <ul class="list-group">
			    {% for startup in latest_startups_established %}
			      <li class="list-group-item">
			        <a href= "{% url 'startuprank:startup' startup.id %}">{{ startup.title }}</a>
			      </li>
			      <p><br></p>
			    {% endfor %}
			  </ul>
			{% else %}
			  <p>No startups are available.</p>

			{% endif %}
		</div>
	</div>
</div>

{% endblock %}