{% extends "startuprank/main.html" %}

{% block content %}


  <header class="bg-secondary text-white">
    <div class="container text-center text-dark">
      <h1 class="fonts"><a href="/startuprank/" title="StartUpRank" style="font-size:40px;" class="text-dark">StartupRank</a></h1>
      <p><h4> Find your favourite Startup and Review it!</h4></p>
    </div>
  </header>


<div class="container">
  <div class="row">
      <div class="col-lg-6 mx-auto">
      	
			{% if latest_startups_established %}
			  <ul id="otis">

			    {% for startup in latest_startups_established %}
			      <li class="column">
			        <a href= "{% url 'startuprank:startup' startup.id %}"><img border="2" width="150" alt="Image" src="{{ startup.image.url }}"></a><br>
			      </li>
			      <p><br></p>
			    {% endfor %}
			  </ul>
			{% else %}
			  <p>No startups are available.</p>

			{% endif %}
		  <p><br></p>
          <p><br></p>
          <p><br></p>
		</div>
	</div>
</div>

{% endblock %}