{% extends "startuprank/main.html" %}

{% block content %}

  <header class="bg-secondary text-white">
    <div class="container text-center text-dark">
      <h1><a href="/startuprank/" title="StartUpRank" style="font-size:40px; font-family: sans-serif;" class="text-dark">StartupRank</a></h1>
      <p><h4> Find your favourite Startup and Review it!</h4></p>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p><br></p>
        {% if not startup_reviews %}
          <h2 class="bg-warning">No reviews yet.</h2>
        {% else %}
          <div class="list-group">
            {% for review in startup_reviews %}
              <div class="list-group-item list-group-item-action flex-column
                          list-group-item-secondary align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                  <span class="mb=1">Summary: {{ review.title }}</span>
                </div>
              </div>
              <div class="list-group-item">
                Review: {{ review.text }}
              </div>
              <div class="list-group-item">
                Date reviewed: {{ review.review_date }}
              </div>
              <p><br></p>
            {% endfor %}
          </div>
        {% endif %}
        <p><br></p>
      </div>
    </div>
  </div>

{% endblock %}


