{% extends "startuprank/main.html" %}

{% block content %}

  <header class="bg-secondary text-white">
    <div class="container text-center text-dark">
      <h1 class="fonts"><a href="/startuprank/" title="StartUpRank" style="font-size:40px;" class="text-dark">StartupRank</a></h1>
      <p><h4> Find your favourite Startup and Review it!</h4></p>
    </div>
  </header>

{% load static %}

  <p><br></p>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="media">
        <img class="media-left" width="250" alt="Image" src="{{ startup.image.url }}">
          <div class="media-body">
            <ul>
            <li class="list-group-item">
            Title: {{ startup.title }}
          </li>
          <li class="list-group-item">
            Votes: {{ startup.votes }}
          </li>
          <li class="list-group-item">
            Year established: {{ startup.estab_year }}
          </li>
          <li class="list-group-item">
            Description: {{ startup.description }}
          </li>
          <li class="list-group-item"><span>Reviews:
            <a href="{% url 'startuprank:reviews' startup.id %}">
              <span class="badge badge-secondary">Watch all: {{ startup.review_set.all.count }}</span>
            </a>
            </span>
          </li>
          </ul>
          <div class="inline">
          <a href="{% url 'startuprank:add' startup.id %}"><button class="btn btn-dark btn-lg-active">Add Review</button></a>
          <a href="../../allstartups/"><button class="btn btn-primary btn-lg-active">Go back</button></a>
          <p><br></p>
          <p><br></p>
          <p><br></p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

